<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}myPOS Schedule{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="container-fluid">
        {% block header %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="#">Schedule</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('dashboard') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('appointments_history') }}">History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('make_appointment') }}">Make appointment</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            <div class="navbar fixed-bottom">Tommy myPOS Schedule task &copy;</div>
        {% endblock %}
    </body>
</html>
